/*
Custom Css
*/

.home-carousel {
    padding-top: 5rem;
}
.about-container {
    padding-top: 5rem;
}
.shop-container {
    padding-top: 8rem;
}
.shop-detail-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
